.filter-panel {
    padding: 20px;  /* Adds padding to all sides (top, right, bottom, left) */
    background-color: #f9fafb;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 30px;
    margin-bottom: 15px;
    font-family: "Lucida Console", "Courier New", monospace;
}

.filter-dropdown-option {
    padding: 10px;
    background-color: #f9fafb;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    margin-bottom: 15px;
    font-family: "Lucida Console", "Courier New", monospace;
}

.dropdown-text {
    font-family: "Lucida Console", "Courier New", monospace;
}

#apply_filters_btn {
    padding: 10px;
    background-color:black;
    color:antiquewhite;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    margin-bottom: 15px;
    font-family: "Lucida Console", "Courier New", monospace;
}

#select_position {
    padding: 10px;
    background-color: #f9fafb;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    margin-bottom: 15px;
    font-family: "Lucida Console", "Courier New", monospace;
}